[Unit]
Description=Kano Pixel Clock Service
After=network.target

[Service]
ExecStart=/opt/kano/scripts/launch.bash pixel clock

[Install]
WantedBy=multi-user.target